<?xml version="1.0"?>
<config>
	<modules>
		<RicardoJustem_RicardoModel>
			<version>0.1.0</version>
		</RicardoJustem_RicardoModel>
	</modules>
	<adminhtml>
		<translate>
			<modules>
				<RicardoJustem_RicardoModel>
					<files>
						<default>RicardoJustem_RicardoModel.csv</default>
					</files>
				</RicardoJustem_RicardoModel>
			</modules>
		</translate>
	</adminhtml>
	<global>
		<models>
			<ricardojustem_ricardomodel>
				<class>RicardoJustem_RicardoModel_Model</class>
				<resourceModel>ricardojustem_ricardomodel_resource</resourceModel>
			</ricardojustem_ricardomodel>
			<ricardojustem_ricardomodel_resource>
				<class>RicardoJustem_RicardoModel_Model_Resource</class>
			</ricardojustem_ricardomodel_resource>
		</models>
		<blocks>
			<ricardojustem_ricardomodel>
				<class>RicardoJustem_RicardoModel_Block</class>
			</ricardojustem_ricardomodel>
		</blocks>
		<helpers>
			<ricardojustem_ricardomodel>
				<class>RicardoJustem_RicardoModel_Helper</class>
			</ricardojustem_ricardomodel>
		</helpers>
        <resources>
            <RicardoJustem_RicardoModel>
                <setup>
                    <module>RicardoJustem_RicardoModel</module>
                </setup>
            </RicardoJustem_RicardoModel>
        </resources>
	</global>
	<admin>
		<routers>
			<ricardo>
				<use>admin</use>
				<args>
					<frontName>Ricardo</frontName>
					<module>RicardoJustem_RicardoModel_Testando</module>
				</args>
			</ricardo>
		</routers>
	</admin>
</config>